.home {
    padding: 4.5rem 1rem 1rem 16rem;
    height: 100vh;
    background-color: var(--color-primary-darkest);
    color: var(--color-primary-lightest);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 70rem;
}
.home_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home_top div {
    display: flex;
    align-items: center;
}
.home_top ul {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.squares{
    display: flex;
    justify-content: space-around;
}
.home .square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-primary-dark);
    height: 25vh;
    width: 25vh;
}
.home .statistics {
    display: flex;
    flex-direction: column;
    background: var(--color-primary-dark);
    height: 15rem;
}

.home_bottom {
    display: flex;
    gap: 1rem;
}
.table_short {
    display: flex;
    background-color: var(--color-primary-dark);
    width: 35%;
}
.table_large{
    display: flex;
    background-color: var(--color-primary-dark);
    width: 65%;
}
.column {
    display: flex;
    flex-direction: column;
}
.header {
    background-color: var(--color-primary-dark);
    padding: 0.5rem;
}
.row {
    background-color: var(--color-primary-dark);
    border-top: var(--color-primary-light) solid 0.1rem;
    padding: 0.5rem;
}