:root {
    --color-black: #0f141e;
    --color-white: #f7f7f7;
    --color-gray: #878a8f;

    --color-primary-darkest: #222534;
    --color-primary-dark: #31394c;
    --color-primary-light: #676b78;
    --color-primary-lightest: #dedede;
  
    --color-red: #ff6666;
    --color-green: #78f2c5;
    --color-violet: #9999ff;
}