
.nav_container {
    position: fixed;
    display: flex;
}
.nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 3rem;
    background-color: var(--color-primary-darkest);
    border-right: var(--color-primary-light) solid 0.1rem;

}
.nav #menu{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--color-primary-light) solid 0.1rem;
    border-right: var(--color-primary-light) solid 0.1rem;
    width: 3rem;
    min-height: 3.5rem;
    background: var(--color-primary-dark);
    color: var(--color-primary-lightest);
}
.nav div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}
.nav div button{
    cursor: pointer;
    background: transparent;
}
.nav div button:focus span{
    color: var(--color-primary-lightest);
}
/* ---------------------------------------------- nav options ----------------------------------------------*/
.navleft_options{
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--color-primary-light);
    width: 12rem;
}
.navleft_options_webinterface{
    background-color: var(--color-primary-dark);
    border-right: var(--color-primary-light) solid 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    min-height: 3.5rem;
    border-bottom: var(--color-primary-light) solid 0.1rem;
    color: var(--color-primary-lightest);
}
.navleft_options_dashboards{
    background-color: var(--color-primary-darkest);
    border-right: var(--color-primary-light) solid 0.1rem;
    display: flex;
    flex-direction: column;
    border-bottom: var(--color-primary-light) solid 0.1rem;
    padding: 1rem;
    gap: 0.5rem;
    width: 12rem;
}
.navleft_options_dashboards span{
    color: var(--color-primary-lightest);
}
.navleft_options_dashboards :first-child{
    color: var(--color-primary-light);
}
.navleft_options_contact{
    background-color: var(--color-primary-darkest);
    border-right: var(--color-primary-light) solid 0.1rem;
    border-bottom: var(--color-primary-light) solid 0.1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    width: 12rem;
}
.contact {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.contact img {
    height: 1.75rem;
    border-radius: 100%;
}
.navleft_options_contact span{
    color: var(--color-primary-lightest);
}
.navleft_options_contact :first-child{
    color: var(--color-primary-light);
}
.navleft_options_bottom{
    background-color: var(--color-primary-darkest);
    border-right: var(--color-primary-light) solid 0.1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    height: 100%;
    padding-bottom: 1rem;
}

/* ---------------------------------------------- media queries ----------------------------------------------*/
@media (max-width: 750px) {
    .navleft_options {
        display: none;
    }
}